* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}


header img {
    height: 100vh;
    width: 99vw;
}

header div h1 {
    position: absolute;
    top: 13%;
    left: 28%;
    font-family: 'Open Sans';
    font-size: 5em;
    color: white;
}

@media only screen and (max-width: 830px) {
    header div h1 {
        top: 10%;
        font-size: 3em;
        left: 10%;
    }
}

header div p {
    top: 20%;
    left: 32%;
    width: 37%;
    text-align: center;
    line-height: 2;
    font-family: 'Libre Baskerville';
    font-size: 18px;
    word-wrap: inherit;
    color: grey;
    position: absolute;
}


@media only screen and (max-width: 1280px) {
    header div p {
        width: 85%;
        left: 5%;
        height: 1em;
        top: 19%;
        font-size: 1em;
        text-align: center;
    }
}

header div p span {
    color: white;
}

.icons {
    position: absolute;
    text-align: center;
    top: 27%;
    left: 39%;
}

.icons i {
    color: white;
    margin-right: 1em;
}

.icons i:hover {
    cursor: pointer;
    transition: all 1s ease;
    color: lightseagreen;
} 

@media only screen and (max-width: 1170px) {
    .about-section {
        height: auto;
        width: 120%;
    }
}

@media only screen and (max-width: 830px) {
    .icons {
        left: 10%;
    }
}


section {
    height: 60vh;
    background-color: #2B2B2B;
}

.about-section {
    display: flex;
    padding-left: 25%;
    padding-top: 10em;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -5px;
}

.about-section-left {
    padding-right: 10em;
    display: block;
}

.about-section-left img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.about-section-right h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.about-section-right p {
    line-height: 1.7;
    margin-top: 1em;
    margin-bottom: 1em;
    word-wrap: normal;
    font-size: 18px;
    color: grey;
}

.about-section-right {
    width: 50%;
}

.about-section-right-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-section-right-subsection div button span {
    font-family: 'Open Sans';
    color: white;
    padding-left: 1em;
    font-size: 18px;
}

.about-section-right-subsection div button i {
    color: white;
}

.about-section-right-subsection div button {
    background-color: #444;
    margin-top: 20%;
    padding: 1em;
    border: none;
}

.about-section-right div button:hover {
    cursor: pointer;
    transition: all 1s ease;
    background-color: white;
}

.about-section-right div button:hover span {
    color: black;
}

.about-section-right div button:hover i {
    color: black;
}

@media only screen and (max-width: 830px) {
    .about-section-left {
        display:none;
    }
}

@media only screen and (max-width: 1170px) {
    .about-section-right-subsection {
        display: block;
    }
}
